<h2> {{message}} </h2>

<div>
	<h3>{{ post.title }}</h3>
  <p>{{ post.content }}</p>
  <p>
  	<span>Tags:</span>
  	<a href="javascript:void(0);" ng-repeat="tag in post.tags" style="margin-right:10px;">
  		{{ tag }}
  	</a>
  </p>
</div>