<h2> {{message}} </h2>

<p><span>Search: </span><input type="text" ng-model="search" placeholder="Search posts"/></p>

<ul style="list-style-type: none;margin: 10px;padding: 0px;">
  <li ng-repeat="post in posts.posts | filter: search">
    <h3>{{ post.title }}</h3>
    <p>{{ post.content }}<a href="#post/{{ post._id }}">Read More</a></p>
    <p>
    	<span>Tags:</span>
    	<span ng-repeat="tag in post.tags" style="margin-right:10px;">
    		<a href="#tag/{{ tag }}">{{ tag }}</a>
    	</span>
    </p>
  </li>
</ul>
