<h2>{{message}}</h2>

<p><span>Title: </span><input type="text" ng-model="new_post.title"/></p>

<p><span>Content: </span><textarea ng-model="new_post.content"></textarea></p>

<p><span>Tags: </span><input type="text" ng-model="new_post.tags"/></p>

<p><input type="button" ng-click="create_post()" value="Submit"/></p>